<h1>Reviews</h1>

<ul>
    <% @reviews.each do |review| %>
        <li><%= link_to review.title, review_path(review) %> 
        | <%= link_to "Editar", edit_review_path(review) %> 
        | <%= link_to "Eliminar", review_path(review), data: { 
            turbo_method: :delete,
            turbo_confirm: "Estás seguro de eliminar el review?"
            } %></li>
    <% end %>
</ul>

<%= link_to "Nuevo review", new_review_path %>